<section class="menu">
    <div class="container mt-5 mb-4">
        <h2 class="mb-3 mt-5 text-center">Customers <span class="highlight">Favourites Food </span></h2>
        <div class="brdr mb-5"></div>

        <div class="row">
            <div class="col-lg-3" *ngFor="let fd of foodData ">
                <div class="foodbox" >
                     <img src="{{fd.foodImg}}" alt="#">
                     <div class="content-menu">
                        <h3>{{fd.foodName}}</h3>
                        <p class="details" >{{fd.foodDetails}}... </p>
                        <p class="price">{{fd.foodPrice}} \ EGP</p>
                        <a class="btnbuy btn"[routerLink]="['/menu',fd.id]">Buy <i class="fas fa-shopping-bag"></i></a>
                     </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>