<section class="about ">
    <div class="container ">
        <div class="text-center mb-4">
            <h1 >About </h1>
            <div class="brdr"></div>
        </div>
     
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloribus hic impedit repellat. Eos, quisquam nihil veniam deleniti quasi magni. Quia consequatur id laudantium necessitatibus esse accusamus quo ab eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit qui nemo laboriosam possimus fugit voluptates quo atque enim similique ad, assumenda architecto molestiae corporis temporibus, unde mollitia. Excepturi, delectus iste!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minima soluta pariatur consequuntur, consectetur excepturi cumque laudantium qui error maxime dolorum unde reprehenderit quos modi repellat alias eum ducimus. Dicta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias, at officiis voluptatem, unde magni quaerat fuga ut fugiat placeat enim inventore, blanditiis porro aspernatur reiciendis aliquid? Dolore, atque voluptatibus.
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime sequi obcaecati sapiente et, iste perspiciatis consequatur architecto, enim expedita asperiores tenetur qui cumque eius id! Voluptate magnam quasi odio accusantium.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur ipsa illum, suscipit veritatis animi sit commodi beatae magnam voluptas ea modi dolorem explicabo hic blanditiis ex incidunt maxime non.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate placeat corporis, fugiat esse earum exercitationem minima quo repellendus id sed ipsum laboriosam maxime amet dolorum reiciendis possimus aliquam labore sequi!
          
        </p>
    </div>
</section>