<section class="menupage mt-5 mb-5">
    <div class="container ">
        <a class="btn btn-sm btn btn-dark mb-3  ml-4 " routerLink="../../menu" >Back</a>

        <div class="row">
            
            <div class="col-md-6  " *ngIf="menuData">

                <img src="{{menuData[0].foodImg}}" >
                <div class="caption">
                  <h2>{{menuData[0].foodName}}</h2>
                  <p>{{menuData[0].foodDetails}}</p>
                  <p>{{menuData[0].foodPrice | currency : 'INR'}} / EGP</p>
                </div>
         
            </div>
            <div class="col-md-6 " >
                <h2 class="user" >Enter Your Details  <i class="far fa-hand-point-down"></i> </h2>
              
                <form class=" text-left" >
                    <input type="text" placeholder="Enter Your Full Name" class="form-control">
                    <input type="number" placeholder="Enter Your Mobile" class="form-control">
                    <textarea class="form-control mt-2 mb-2" placeholder="Enter Your Addres" ></textarea>
                    <input type="number" placeholder="Enter The Quantity You Want" class="form-control">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark " data-toggle="modal" data-target="#exampleModal">
                        Place Order
                      </button>
                      

                </form>
            </div>
    
        </div>
        

     
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5>Please wait 15 to 20 minutes</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btnbuy" data-dismiss="modal">okay</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel order</button>
        </div>
      </div>
    </div>
  </div>
</section>

  